{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Assets Plus plugin for Craft CMS
 *
 * AssetsPlusField Field Settings
 *
 * @author    Adrien Picard
 * @copyright Copyright (c) 2020 Adrien Picard
 * @link      https://a-p.studio
 * @package   AssetsPlus
 * @since     1.0.0
 */
#}
{% import "_includes/forms" as forms %}


{% extends "_components/fieldtypes/assets/settings" %}

{% block fieldSettings %}
  {{ parent() }}

  {{ forms.checkboxField({
      label: "Allow grouping?"|t('app'),
      id: 'allowGrouping-toggle',
      name: 'allowGrouping',
      value: 1,
      checked: field.allowGrouping,
      toggle: 'grouping-options'
  }) }}

  <div id="grouping-options"{% if not field.allowGrouping %} class="hidden"{% endif %}>
    {{ forms.textField({
        label: "Groups limit"|t('app'),
        id: 'groupsLimit-input',
        name: 'groupsLimit',
        value: field.groupsLimit,
        size: 2
    }) }}
  </div>


{% endblock %}