{% if name is defined and name %}
    {{ hiddenInput(name, '') }}
    {{ hiddenInput(name ~ '-groups', groups|json_encode) }}
{% endif -%}

{% set elements = (elements is defined ? elements : []) -%}
{% set jsClass = (jsClass is defined and jsClass ? jsClass : 'Craft.BaseElementSelectInput') -%}
{% set sources = (sources is defined and sources ? sources : null) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set storageKey = (storageKey is defined and storageKey ? storageKey : null) -%}
{% set static = static ?? false -%}

<div id="{{ id }}" class="assetsplus elementselect{{static ? ' disabled' : ''}}">
  <div class="elements">
    {% for group in groups %}
      <span class="assetsplus--group">
        {% for id in group %}
          {% set element = elements|first %}
          {% set elements = elements|without(element) %}
          {% if element %}
          {% include "_elements/element" with {
              context: 'field',
              size: (viewMode == 'large' ? 'large' : 'small')
          } %}
          {% endif %}
        {% endfor %}
      </span>
    {% endfor %}
  </div>

  <div class="btn add icon dashed">{{ selectionLabel }}</div>
</div>

{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}

{% set jsSettings = {
    id: id|namespaceInputId,
    name: name|namespaceInputName,
    elementType: elementType,
    sources: sources,
    criteria: criteria,
    sourceElementId: sourceElementId,
    viewMode: viewMode,
    limit: limit,
    modalStorageKey: storageKey,
    fieldId: fieldId,
    prevalidate: prevalidate ?? false,
    defaultFieldLayoutId: defaultFieldLayoutId,
    modalSettings: {hideSidebar: hideSidebar},
    groups: groups,
    groupsLimit: groupsLimit,
} %}

{% js %}
    new {{ jsClass }}({{ jsSettings|json_encode|raw }});
{% endjs %}
